<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Breakpoints</title>
  <link rel="stylesheet" href="/dist/build.css">
</head>
<body>
  <div class="container mx-auto bg-teal-200 p-2 sm:bg-green-400 md:bg-red-400 lg:bg-purple-400 xl:bg-lime-400 2xl:bg-stone-400">
    <h1 class="text-blue-600">Olá mundo</h1>
    <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, soluta provident quas, omnis dolorum rem ullam sapiente aut, nesciunt distinctio obcaecati optio architecto dicta consequuntur mollitia! Incidunt commodi repellendus sapiente?
    Molestias nisi voluptatem eum quasi repudiandae recusandae facere dolores voluptatum quod nulla earum cum provident laboriosam, dicta porro a ipsa officiis quidem esse quia exercitationem incidunt nostrum temporibus aperiam! Unde?
    Eum debitis illo odit pariatur rem alias tempora ullam accusantium labore ad fugiat voluptas qui similique expedita, nesciunt dolorem odio provident optio mollitia inventore, sapiente quae culpa. Molestiae, consequuntur qui.
    Eveniet porro delectus accusamus? Eligendi maxime omnis ipsum provident modi repellendus ducimus quasi eum eius praesentium saepe, nesciunt, ea sint mollitia nam, vel nemo reprehenderit minus commodi deleniti iure unde?
    Quis, ratione! Quisquam totam eum mollitia dignissimos possimus quia, autem quod dolorum ad numquam necessitatibus consectetur animi amet beatae voluptates repudiandae soluta cumque molestias blanditiis harum? Totam eos tempora corporis.
    Eaque aspernatur consequuntur nostrum tenetur? Ab nobis iure nesciunt, non quo, deserunt quidem minima esse corrupti accusamus illo excepturi, maxime explicabo cupiditate. Corporis dolores hic cumque minus maxime, tenetur cum?
    Earum vero facilis impedit vel adipisci quisquam consequuntur atque dolores sunt. Atque voluptas facere, deleniti ex quisquam in aliquid quaerat dolorem, quidem molestiae voluptate sequi ea, dignissimos eius accusantium asperiores.
    Quidem aliquid cumque eius minus fugiat corrupti reprehenderit exercitationem nam. Itaque porro aut quae illum ullam! Quo veniam vero reiciendis molestias quaerat exercitationem consectetur, quos blanditiis. Rerum perferendis sequi tempora.
    Corporis, non. Nihil earum quisquam natus culpa aliquid consequuntur, est explicabo aspernatur! Nemo officiis dolor nihil voluptates, cumque optio in iste et non odio aspernatur ullam explicabo mollitia illum debitis.
    Assumenda in aspernatur numquam? Magni quas alias quam at recusandae asperiores maiores nisi nobis assumenda quibusdam commodi a obcaecati, tempora minus id! Nesciunt enim explicabo eaque, sapiente aliquid quas labore.
    Nemo, nobis, animi recusandae, distinctio ratione iusto molestiae eum incidunt ex perspiciatis possimus. Voluptatum, voluptate omnis saepe, culpa facere asperiores explicabo consectetur, veritatis fugit laborum eius aut. Enim, vitae voluptate!
    Dolores beatae iste, dolore possimus, hic quos ad aliquid modi mollitia voluptatem obcaecati aspernatur odio maxime illum incidunt. Perferendis nam aspernatur possimus quam laborum, enim dignissimos libero aperiam officia commodi.
    Labore, laborum hic. Mollitia quisquam voluptatibus ipsum cum hic! Voluptatum officiis excepturi quasi necessitatibus deserunt recusandae nostrum atque est ratione ab quas unde commodi mollitia veniam ex, asperiores rem id.
    Ab non unde vitae repellendus tempore corporis expedita perspiciatis, temporibus ipsam facilis pariatur inventore officia consequuntur, doloremque natus reiciendis quidem odit officiis, alias animi nesciunt culpa quasi sed autem! Illo?
    Ad quis voluptatum reiciendis omnis ab deserunt ducimus adipisci illum tempora possimus, ullam aperiam animi, provident delectus vitae, quae fuga. Dolore molestias quo itaque iste quos molestiae cumque similique repellat?
    Nulla cum excepturi magni deleniti quos voluptates quam inventore incidunt omnis voluptas quasi libero adipisci ullam illum saepe veniam quae aut similique qui quod nam repellat, exercitationem iusto quibusdam. Cum.
    Incidunt hic est voluptatibus exercitationem temporibus nisi doloribus consequatur illum, illo a earum maxime, veniam recusandae, quo beatae. Qui voluptatum doloribus reiciendis earum repellendus exercitationem accusantium ipsa aperiam reprehenderit minus.
    Ex est unde ad quaerat dolorum, consectetur sint adipisci rerum facere! Placeat quidem veritatis sapiente, aspernatur ipsum commodi mollitia deleniti. Error quisquam dolore corrupti odio deleniti impedit recusandae sunt sit?
    Cumque tempora sit sint doloremque nihil qui unde modi optio dolorem nisi? Sit quidem inventore reiciendis fuga itaque explicabo qui soluta, deleniti ad facilis consectetur nihil ut nobis quibusdam blanditiis!
    Accusamus soluta sunt laborum, nam minus cupiditate hic reprehenderit nihil? Dolorem blanditiis, nisi natus voluptatibus, recusandae aperiam, sequi reprehenderit nam veritatis itaque corporis necessitatibus earum eaque. Porro voluptate cumque nesciunt?</p>
</div>
</body>
</html>