<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Breakpoints e Container</title>
  <link rel="stylesheet" href="/dist/build.css">
</head>
<body>
  <div class="container mx-auto">
    <h1>Lista de posts</h1>
    <div class="grid gap-2 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 md:gap-3 lg:grid-cols-4 lg:gap-6">
      <div class="p-2 border-2">01- Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium expedita tenetur porro consectetur temporibus accusamus, aut optio, commodi qui ullam molestiae eveniet quibusdam excepturi assumenda accusantium vitae eius alias eos?</div>
      <div class="p-2 border-2">02- Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium expedita tenetur porro consectetur temporibus accusamus, aut optio, commodi qui ullam molestiae eveniet quibusdam excepturi assumenda accusantium vitae eius alias eos?</div>
      <div class="p-2 border-2">03- Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium expedita tenetur porro consectetur temporibus accusamus, aut optio, commodi qui ullam molestiae eveniet quibusdam excepturi assumenda accusantium vitae eius alias eos?</div>
      <div class="p-2 border-2">04- Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium expedita tenetur porro consectetur temporibus accusamus, aut optio, commodi qui ullam molestiae eveniet quibusdam excepturi assumenda accusantium vitae eius alias eos?</div>
      <div class="p-2 border-2">05- Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium expedita tenetur porro consectetur temporibus accusamus, aut optio, commodi qui ullam molestiae eveniet quibusdam excepturi assumenda accusantium vitae eius alias eos?</div>
      <div class="p-2 border-2">06- Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium expedita tenetur porro consectetur temporibus accusamus, aut optio, commodi qui ullam molestiae eveniet quibusdam excepturi assumenda accusantium vitae eius alias eos?</div>
      <div class="p-2 border-2">07- Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium expedita tenetur porro consectetur temporibus accusamus, aut optio, commodi qui ullam molestiae eveniet quibusdam excepturi assumenda accusantium vitae eius alias eos?</div>
      <div class="p-2 border-2">08- Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium expedita tenetur porro consectetur temporibus accusamus, aut optio, commodi qui ullam molestiae eveniet quibusdam excepturi assumenda accusantium vitae eius alias eos?</div>
    </div>
  </div>  
    
</body>
</html>